:root {
  --nav-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

body {
  overscroll-behavior-y: none;
}

main {
  padding-top: var(--nav-height);
}

/* Login */

#login {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  background-color: black;
  color: white;
  z-index: 100;
  display: grid;
  grid-template-columns: 20% 80%;
}

.createUser {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1rem;
  cursor: pointer;
}

.login-form {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-form > input {
  user-select: auto;
}

.login-form label {
  background-color: rgb(150, 200, 255);
  color: rgb(14, 31, 100);
  border-radius: 2px;
  position: relative;
}

.login-form input[type="submit"] {
  background-color: transparent;
  border: none;
  position: absolute;
}

#loginCheck {
  padding: 2.5px;
}

/* Nav */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.mainLink {
  padding-left: 10px;
  text-decoration: none;
  display: flex;
}

.mainLink > div {
  display: flex;
  flex-direction: row;
  transition: .4s ease;
}

.mainLink:hover > div {
  transform: scale(1.1);
  transition: .4s ease;
}

.mainWords {
  padding: 0 .25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: black;
  line-height: 1rem;
}

.wordMain {
  --borderColor: #fc8059;
  text-shadow: 2px 0 0 var(--borderColor), -2px 0 0 var(--borderColor), 0 2px 0 var(--borderColor), 0 -2px 0 var(--borderColor), 1px 1px var(--borderColor), -1px -1px 0 var(--borderColor), 1px -1px 0 var(--borderColor), -1px 1px 0 var(--borderColor);
}

.wordPage {
  --borderColor: #fcc159;
  text-shadow: 2px 0 0 var(--borderColor), -2px 0 0 var(--borderColor), 0 2px 0 var(--borderColor), 0 -2px 0 var(--borderColor), 1px 1px var(--borderColor), -1px -1px 0 var(--borderColor), 1px -1px 0 var(--borderColor), -1px 1px 0 var(--borderColor);
}

.loggedBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedBlock a {
  color: white;
  text-decoration: none;
}

/* Public */

#public-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  padding: 1rem;
}

/* post blog area */

#newBlog {
  margin: 1rem 0;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 60% 25%;
  grid-gap: 10%;
  align-items: center;
  background-color: #cccac4c0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#newBlog:hover h2::after {
  left: 0;
  transition: .5s ease;
}

.newBlogDiv {
  padding-top: 10px;
  overflow: hidden;
}

.newBlogDiv h2 {
  position: relative;
  width: fit-content;
  line-height: .95rem;
  margin-bottom: .5rem;
  z-index: 1;
}

.newBlogDiv h2::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  border-bottom: 3px solid #fcc159;
  transition: .5s ease;
}

.newBlogDiv p {
  text-indent: .5rem;
}

.newBlogBtn {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 4px dashed black;
  outline-offset: -3px;
  color: white;
  border: 2px solid black;
  background: linear-gradient(#fcc159, #fc8059);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
}

.newBlogBtn:hover, .newBlogBtn:focus {
  background: linear-gradient(#fcc159a0, #fc8059a0);
  outline: 1px solid white;
  transition: .2s ease;
}

.newBlogBtn svg {
  transition: .5s ease;
}

.newBlogBtn:hover svg, .newBlogBtn:focus svg {
  transform: scale(1.5);
  transition: .5s ease;
}

/* public nav */

#sort-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sort-nav-top, .sort-nav-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 4px 0 2px;
  border-bottom: 2px solid black;
  margin: 0 2px;
  padding-left: 5px;
}

#sort-nav span {
  font-weight: 500;
}

.sort-div {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

#sort-nav button {
  border: none;
  background-color: transparent;
  font-size: .9em;
  cursor: pointer;
}

#sort-nav button:focus, .sort-nav-bottom button:focus {
  outline-offset: 2px;
}

.sort-nav-bottom button {
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

/* public view */

#view {
  display: grid;
}

.full-view {
  grid-template-columns: 100%;
}

.half-view {
  grid-template-columns: repeat(2, 50%);
}

.small-view {
  grid-template-columns: repeat(3, 33.33%);
}

.blog {
  margin: 2px;
  padding: 5px;
  background: linear-gradient(90deg, #fcc159a0, #fc8059a0 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  box-shadow: inset 0 0 4px rgba(255, 99, 71, 0.7), 0 0 2px rgba(0, 0, 0, 0.5);
  transition: .3s ease;
}

.full-view .blog {
  background: linear-gradient(#fcc159a0, #fc8059a0 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 100%;
}

.small-view .blog {
  background: linear-gradient(135deg, #fcc159a0, #fc8059a0 50%, transparent 50%);
  background-size: 100% 300%;
  background-position: 100% 100%;
}

.blog:hover, .blog:focus {
  background-position: 0 0;
  transition: .3s ease;
}

.blog h3 {
  text-overflow: ellipsis;
  max-width: 95%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
}

.blogDesc {
  max-width: fit-content;
  margin: 5px;
  padding: 5px;
  line-height: 1rem;
  background-color: #cccac4a0;
}

.bottomMatter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4px;
  background-color: white;
  border-radius: 4px;
}

.postCount svg {
  margin: 0 2px 1px 0;
}

/* public aside */

#public-aside {
  position: fixed;
  top: var(--nav-height);
  right: 0;
  height: 12rem;
  width: 12rem;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ffce88cc;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

#public-aside header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#public-aside header span {
  padding-left: 15px;
}

.aside-x, #public-aside-menu {
  margin: 2px;
  cursor: pointer;
}

.aside-x {
  height: 38px;
  width: 38px;
  justify-self: flex-start;
  align-self: flex-end;
  background-color: tomato;
}

#public-aside article {
  padding: 10px;
}

#public-aside-menu {
  position: fixed;
  top: var(--nav-height);
  right: 0;
  background-color: blanchedalmond;
  height: 38px;
  width: 38px;
  margin: 5px;
  padding: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.radio-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radio-btns div span {
  padding: 3px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.public-art input[type="submit"] {
  margin: 5px;
  float: left;
}

.public-art button {
  margin: 5px;
  float: right;
}

/* Blog */

#blog-home {
  min-height: calc(100vh - var(--nav-height));
  padding: .5rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

#blog-home h1 {
  font-size: 3rem;
  justify-self: flex-start;
  align-self: flex-start;
}

.authorLink {
  color: black;
  text-decoration: none;
  align-self: flex-start;
}

#blog-home > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog-home section {
  width: 90%;
  max-width: 90vw;
  aspect-ratio: 2.5 / 1;
  padding: 0 .5rem;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
}

#blog-home section::-webkit-scrollbar {
  display: none;
}

.post-container {
  aspect-ratio: 1 / 1.5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.post-link {
  height: 90%;
  aspect-ratio: 1 / 1.5;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  background-color: #cccac4a0;
  color: black;
  text-decoration: none;
  transition: .5s ease;
  border: 1px solid black;
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}

.post-link:hover, .post-link:focus {
  transform: translateY(-10px);
  box-shadow: 0 10px 2px #00000055;
  transition: .2s ease;
}

.post-link span {
  font-size: 1.25rem;
  padding-left: 6px;
  white-space: nowrap;
}

.post-link p {
  background-color: white;
  margin-top: 3px;
  padding: 3px;
  font-size: .9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Post */

#post-page {
  padding: 1.5rem;
}

.topper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#post-page header {
  background-color: #cccac4a0;
  margin: .5rem;
  padding: 5px;
}

/* Profile */

#profile {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: 30% 70%;
}

.profile-aside {
  padding: 2rem 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  max-width: 70%;
  border-radius: 50%;
  border: 4px solid #fcc159;
}

.profile-aside table {
  background-color: #cccac4a0;
  margin-top: 1rem;
  padding: 5px;
}

.profile-article {
  padding: 6rem 15px;
}

.blogSpot, .profileInfo {
  width: 90%;
  margin: .5rem auto;
  border: 1px solid black;
}

.blogSpot td, .blogSpot a {
  height: 100%;
  width: 100%;
}

.blogSpot tr:nth-child(odd) {
  background-color: #fc8059;
}

.blogSpot a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.blogSpot a:hover, .blogSpot a:focus {
  outline: 1px solid black;
}

.blogSpot tr:nth-child(odd) a {
  color: black;
}

.blogSpot td {
  padding: 2px;
}

.tableTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileInfo tr:nth-child(odd) td:nth-child(odd),
.profileInfo tr:nth-child(even) td:nth-child(even) {
  background-color: #cccac4a0;
}

/* Create */

#create {
  min-height: calc(100vh - var(--nav-height));
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create form {
  display: flex;
  flex-direction: column;
}

.createTitle {
  font-size: 3rem;
  padding-left: .25rem;
  background-color: #cccac4a0;
  border: none;
}

#create form > label, .createUser {
  padding-right: .25rem;
}

#create form > label {
  margin-top: .25rem;
  align-self: flex-end;
}

#create textarea {
  margin-top: 1rem;
  padding: .5rem;
  background-color: #cccac4a0;
  border: none;
  resize: none;
}

#create input[type="submit"] {
  margin-top: .5rem;
  padding: .5rem .8rem;
  align-self: flex-end;
  background-color: blue;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

/* media queries */

@media only screen
  and (min-width: 813px) {
    .login-form input[type="text"], .login-form input[type="password"] {
      padding: 7px 5px 3px;
      font-size: 1.1rem;
    }

    .post-container {
      min-width: 28%;
    }
  }

@media only screen
  and (max-width: 812px) {
    .login-form input[type="text"], .login-form input[type="password"] {
      user-select: auto;
    }

    #public-aside {
      width: 45%;
    }

    #newBlog {
      grid-template-columns: 55% 40%;
      grid-gap: 5%;
    }

    #sort-nav {
      width: 100%;
    }

    #smallBtn {
      display: none;
    }

    #blog-home section {
      aspect-ratio: 1.25 / 1.25;
    }

    .post-container {
      aspect-ratio: .7 / 1;
      min-width: unset;
      height: 100%;
    }

    .post-link {
      aspect-ratio: .65 / 1;
    }

    .createTitle {
      font-size: 1.85rem;
      padding-left: .25rem;
    }
  }